.servicesCard{
    width: 500px;
    padding: 20px 20px ;
    /* background-color: rgb(244, 245, 246); */
    background-color: ccf;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(143, 174, 229);
}
.servicesCard:hover{
    box-shadow: 0px 0px 5px 3px rgba(112, 175, 214, 0.902);
}
.seviceLogo{
    width: 50px;
}