.navbar{
    color: #191e3b;
    
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.434);
}
.menu:hover{
    color: rgb(69, 69, 252);
}
.toggel{
    display: none;
}
.logo{
    height: 100px;
    position: relative;
    top: 25px;
}

@media screen and (max-width: 600px) {
    .menu-bar {
       position: absolute;
       top: 56px;
       left: 0;
       background-color: #ffffff;
    }
    .toggel{
        display:contents;
    }
    .noDisplay{
        display: none;
    }
}